<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../static/css/404.css">
    <link rel="icon" href="/static/images/logo.png" type="image/png">

</head>
<body>
    <nav>
        <div class="nav__logo">
            <a href="" class="logo" style="text-decoration: none;">
            <img src="../static/images/logo.png" alt="logo" class="logo-dark">
            <span>Doccure</span>
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="header">
            <h1>404</h1>
            <h3>Page Not Found!</h3>
        </div>
        <img src="../static/images/404.jpg" alt="Not Found">
        <div class="footer">
            <p>We're sorry, the page you are requesting could not be found. Please go back to the Home Page!</p>
        <button><a href="{{url_for('index')}}" style="text-decoration: none; color: white;">GO HOME</a></button>
        </div>
    </div>

</body>

</html>